
<mat-card class="quiz-card">
    <div class="row">
        <div class="col-6">
            <div class="time-left">
                <span class="leader">Time</span>
                <span class="scoreboard">
                  0:<span *ngIf="timeLeft < 10">0</span>{{ timeLeft }}
                </span>
              </div>
        </div>
      
    </div>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">d</div>
      <mat-card-subtitle id="question-number"> </mat-card-subtitle>
      <mat-card-title id="question"></mat-card-title>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
        <div class="row">
            <div class="col-6 quiz-options" *ngFor="let obj of options; index as i "  (click)="choosedOption(obj)">
                <a title="dfsd">
                                {{obj.optionValue}}
                                {{obj.optionText}}
                </a>
            </div>
        </div>
     
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Back</button>
      <button mat-button (click)='navigateToNextQuestion()'>Next</button>
      <button mat-button class="btn btn-success" (click)='navigateToNextQuestion()'>Submit</button>
    </mat-card-actions>
  </mat-card>
  

<!-- <button (click)='startTimer()'>Start Timer</button>
<button (click)='pauseTimer()'>Pause</button> -->